{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hello there! I'm Toyesh, a passionate and enthusiastic individual with a keen interest in technology and innovation. I'm currently pursuing a degree in Computer Science and Engineering and striving to excel in the ever-evolving world of Data.</p>
          <p>I believe in continuous learning and exploration, always seeking new opportunities to expand my knowledge and skills. Whether it's delving into the realms of data science, mastering the intricacies of Python programming, or crafting insightful reports and summaries, I'm constantly driven by a thirst for growth and development.</p>
          <p>With a solid foundation in Python and a flair for problem-solving, I'm on a journey to carve out a successful career path in the dynamic field of Data Science. Through dedication, perseverance, and a dash of creativity, I'm poised to make meaningful contributions and leave a lasting impact wherever I go.</p>
        </div>

    </div>
  </div>

  <hr>

  {% include "footer.html" %}